body {
  margin: 0;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  justify-content: center;
  margin-top: 0 ;
}
.topnav a {
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  float: right;
  width: 10%;
  margin-top: 19px;
  margin-right: 20px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: white;
  margin-top: 530px ;
  font-size: 30px;
  height: 70px;
  margin-bottom: 0px;
  float: center;
  padding-bottom: 25px;
}
.logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  text-transform: 2em;
  letter-spacing: 2px;
  transition: 0.6s;
  margin-left: 30px;
  float: left;
}
.topnav ul{
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  float: right;
}
